{% load static wagtailcore_tags wagtailimages_tags header_tags %}

<div class="container navbar-container" style="margin-top: 20px">
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% for header_item in settings.headers.Header.header_items.all%}
            <li class="nav-item active">
              {% get_header_link with link=header_item.link request=request as return_link %}
              <a class="nav-link" href={{return_link}}>{{header_item.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
