.navbar-container {
  max-width: 1500px;
}

.navbar-nav>li {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
  color: white;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 200px;
  max-height: 340px;
}
