.name-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 200px;
    max-height: 340px;
}

@media screen and (max-width: 450px) {
    .name-section {
      justify-content: left;
      align-items: start;
    }
  }

@media screen and (max-width: 450px) {
.contact-details {
    align-items: start;
    display: flex;
}
}

.about-me {
    font-size: 3rem;
    line-height: 1em;
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .about-me {
        font-size: 2.5rem;
    }
    }
    


.dev-name {
    padding: 0;
    font-size: 5rem;
    line-height: 1em;
    font-weight: 600;
}

@media screen and (min-width: 801px) {
    .dev-name {
        font-size: 5rem;
    }
  }
  
  @media screen and (max-width: 800px) and (min-width: 451px) {
    .dev-name {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 450px) {
    .dev-name {
      font-size: 3rem;
    }
  }


.dev-designation {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 2.1rem;
    line-height: 1.4em;
    font-weight: 400;
    opacity: .8;
}

@media screen and (min-width: 801px) {
    .dev-designation {
        font-size: 2.1rem;
    }
  }
  
  @media screen and (max-width: 800px) and (min-width: 451px) {
    .dev-designation {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 450px) {
    .dev-designation {
      font-size: 1.5rem;
    }
  }


.dev-company-name {
    margin: 0;
    font-size: 2.1rem;
    line-height: 1.4em;
    font-weight: 400;
    opacity: .8;
}

@media screen and (min-width: 801px) {
    .dev-company-name {
        font-size: 2.1rem;
    }
  }
  
  @media screen and (max-width: 800px) and (min-width: 451px) {
    .dev-company-name {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 450px) {
    .dev-company-name {
      font-size: 1.5rem;
    }
  }


.card {
    background-color: transparent;
    color: white;
}

.we-company-name {
    font-size: 20px;
}

.we-designation {
    font-size: 22px;
}

.we-skill-tag {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid;
    padding: 5px 15px;
    font-size: 15px;
    transition: clip-path 500ms;

}

.project-card{
    max-width: 700px;
    border: 1px solid;
    padding: 10px;
    transition: transform .2s;
}

.project-card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.project-card:hover {
  transform: scale(1.1);
}